/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
  
header {
    background-color: #00274C;
    color: #fff;
    padding: 20px;
    text-align: center;
}
  
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
  
h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
  
.building {
    display: flex;
    flex-direction: column; /* Updated */
    background-color: #fff;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    cursor: pointer;
    max-width: 1200px;
    width: 100%;
}
  
.building:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
  
.building-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
  
.building h3 {
    font-size: 20px;
    margin-top: 0;
}
  
.average-Activity-Level {
    font-weight: bold;
    margin-bottom: 10px;
}
  
.building-details {
    display: none;
    padding: 10px 20px; /* Added padding */
}
  
.building-details.show {
    display: block;
}
  
.building-details div {
    margin-bottom: 5px;
}
  
.building-details span {
    font-weight: bold;
    margin-left: 5px;
}
  
.building img {
    width: 50%;
    height: auto;
    border-radius: 10px; /* Rounded corners */
}

/* Form container */
#ratingForm {
    width: 80%; /* Adjust width as needed */
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form labels */
#ratingForm label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Form inputs */
#ratingForm select,
#ratingForm input[type="number"],
#ratingForm input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Submit button */
#ratingForm input[type="submit"] {
    background-color: #00274C;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#ratingForm input[type="submit"]:hover {
    background-color: #001b33;
}

.logo {
    width: 140px; /* Adjust the width as needed */
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    left: 10px; /* Adjust the left position as needed */
  }